/* Add custom styles here */

/* This will make a table 'scrollable' in x direction if needed */
.responsive-table {
  overflow-x: auto;
}

/* rotates the table head links in vertical direction */
.responsive-table thead a {
  -webkit-writing-mode: vertical-rl;
  -ms-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
}
