<div id="footer">
  <div id="links">
    <div class="container">
      <div class="row">
        <div class="col-sm-4">
          <p class="brand">ob-kandidaten.de</p>
        </div>
        <div class="col-sm-6">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.wintermeyer-consulting.de">wintermeyer-consulting.de</a></li>
            <li class="list-inline-item"><a href="/impressum.html">Impressum</a></li>
          </ul>
        </div>
        <div class="col-md-2">
          <ul class="list-inline">
            <li class="list-inline-item"><a href="https://www.facebook.com/stefan.wintermeyer"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="https://twitter.com/wintermeyer"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="https://www.instagram.com/wintermeyer/"><i class="fa fa-instagram"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>
