<div id="single">
  <div class="container">
    <div class="post">
      <div class="caption">
        <div class="header">
          <span class="post-tag">#überblick</span>
          <h1>Vergleichstabelle</h1>
        </div>

        <p>Diese Tabelle ist der Versuch einer Übersicht und eines Vergleichs der Kandidaten. Über Feedback und Verbesserungsvorschläge per E-Mail an stefan@wintermeyer.de freue ich mich.</p>

        <p><strong>Wichtig:</strong> Ein Oberbürgermeister ist kein allein herrschender König. Er kann nur begrenzt handeln und ist immer von den 56 Ratsmitgliedern abhängig. Man muss also alle "Versprechen" der Kandidaten mit einer Priese Realität würzen. Selbst wenn ein Kandidat etwas wirklich will und sich dafür jahrelang einsetzt, heißt es nicht, das es auch umgesetzt wird.</p>

        <table class="table table-striped">
          <thead>
            <tr>
              <th></th>
              <th width="15%"><a href="/kandidaten/hans-peter_ackermann">Hans-Peter Ackermann</a></th>
              <th width="15%"><a href="/kandidaten/torsten_schupp">Torsten Schupp</a></th>
              <th width="15%"><a href="/kandidaten/bert_floeck">Bert Flöck</a></th>
              <th width="15%"><a href="/kandidaten/david_langner">David Langner</a></th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>E-Mail Erreichbarkeit</td>
              <td><i class="fa fa-minus-circle"></i><i class="fa fa-minus-circle"></i><br /><small>Nach einer Woche keine Antwort.</small></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i><i class="fa fa-plus-circle"></i></td>
            </tr>
            <tr>
              <td>Telefonische Erreichbarkeit</td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-minus-circle"></i><br /><small>Auf der Webseite ist keine Telefonnummer veröffentlicht.</small></td>
              <td><i class="fa fa-plus-circle"></i></td>
            </tr>
            <tr>
              <td>Wie einfach kann man den Kandidaten persönlich sprechen?</td>
              <td><i class="fa fa-minus-circle"></i><i class="fa fa-minus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i><i class="fa fa-plus-circle"></i><br /><small>Hat als einziger Kandidat angeboten für ein Gespräch zu Hause vorbeizukommen.</small></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
            </tr>
            <tr>
              <td>Informationsgehalt der Webseite</td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
            </tr>
            <tr>
              <td>Setzt sich für mehr und bessere Fahrradwege ein.</td>
              <td><i class="fa fa-plus-circle"></i><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-minus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i><i class="fa fa-plus-circle"></i></td>
            </tr>
            <tr>
              <td>Setzt sich für den Bau eines neuen Hallenbades ein.</td>
              <td><i class="fa fa-minus-circle"></i></td>
              <td><i class="fa fa-minus-circle"></i></td>
              <td><i class="fa fa-minus-circle"></i></td>
              <td><i class="fa fa-minus-circle"></i></td>
            </tr>
            <tr>
              <td>Setzt sich für den Bau bezahlbaren Wohnraums ein.</td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
              <td><i class="fa fa-plus-circle"></i></td>
            </tr>
          </tbody>
        </table>
        <p>Weiter Punkte folgen noch. Bitte schreiben Sie mir Ideen und Vorschlage per E-Mail an stefan@wintermeyer.de</p>
      </div>
    </div>
  </div>
</div>
