---
layout: default
---
<div id="single" class="container">
  <section class="col-md-12 wow22 fadeIn">
    <div class="post featured">
      {% if page.hero_image %}
        <div class="row">
          <div class="col-md-6 media">
            <img src="{{ page.hero_image }}" class="img-fluid" alt= "{{ page.hero_image_alt}}" />
          </div>
          <div class="col-md-6 caption">
            <div class="header">
              <span class="post-tag">{% for tag in page.tags %}#{{ tag }} {% endfor %}</span>
              <h1>{{ page.title }}</h1>
            </div>

            {{ content }}
          </div>
        </div>
      {% else %}
        <div class="caption">
          <div class="header">
            <span class="post-tag">{% for tag in page.tags %}#{{ tag }} {% endfor %}</span>
            <h1>{{ page.title }}</h1>
          </div>

          {{ content }}
        </div>
      {% endif %}
    </div>
  </section>
</div>
